/* Index.html */

/* header */
.header-background {
  background-color: #ffffff;
}

.address-style{
  font-style: normal;
}

:root{
--primary-text-color: rgba(0,0,0,0);
--title-text-color:#000000;
--primary-white-color:#ffffff;
}
.link{
  text-decoration: none;
}
.header-link-wrapper {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.54px;
  word-wrap: break-word;
  font-family: "Raleway", sans-serif;
}

.header-link-wrapper:hover{
  color: #404bbf;
}

.header-link-wrapper:focus{
  color: #404bbf;
}

.logo {
  color: #2e2f42;
  text-transform: uppercase;
}

.navigation-style{
  color: #2e2f42;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  word-wrap: break-word;
}

.navigation-style:hover{
  color: #404bbf;
}

.navigation-style:focus{
  color: #404bbf;
}

/* Contacts in Header */
.contacts-style {
  color: #434455;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  word-wrap: break-word;
}

.contacts-style:hover{
  color: #404bbf;
}

.contacts-style:focus{
  color: #404bbf;
}

/* Hero Image */
.hero-background {
  background-color: #2e2f42;
}

.title-hero {
  color: white;
  font-size: 56px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  word-wrap: break-word;
  text-align: center;
}

.style-button {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  word-wrap: break-word;
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.style-button:hover{
  background-color: #404BBF;
}

.style-button:focus{
  background-color: #404BBF;
}

body{
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* Advantage */
.head-title {
  color: #2e2f42;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  word-wrap: break-word;
}

.paragraf-style {
  color: #434455;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  word-wrap: break-word;
}
/* What we are doing */
.our-work {
  color: #2e2f42;
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.72px;
  word-wrap: break-word;
  text-align: center;
}
/* Team specialist */
.custom-list{
  background-color: #FFFFFF;
}
.team-background {
  background-color: #f4f4fd;
}

.team-title {
  color: #2e2f42;
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.72px;
  word-wrap: break-word;
  text-align: center;
}

.name-specialists {
  color: #2e2f42;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  word-wrap: break-word;
  background-color: #FFFFFF;
}

.title-profession {
  color: #434455;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  word-wrap: break-word;
}
/* Footer */
.footer-background {
  background-color: #2e2f42;
}



.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  word-wrap: break-word;
}
/* portfolio.html */

/* header  */
.header-portfolio {
  background-color: #ffffff;
}

/* Contacts in Header */

/* ul button */
.list {
  list-style: none;
}

.button-custom {
  color: #4d5ae5;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  word-wrap: break-word;
  background-color: #F4F4FD;
  border: 0;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.button-custom:hover{
  color: #FFFFFF;
  background-color: #404BBF;
}

.button-custom:focus{
  color: #FFFFFF;
  background-color: #404BBF;
}
/* ul benefits 1  */

.title-list {
  color: #2e2f42;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  word-wrap: break-word;
}

.text-paragraf {
  color: #434455;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  word-wrap: break-word;
}

/* ul benefits 2 */

/* ul benefits 3 */

/* Footer */
.footer-wrapper{
  color: #4D5AE5;
font-size: 18px;
font-weight: 800;
text-transform: uppercase;
line-height: 1.17;
letter-spacing: 0.54px;
word-wrap: break-word;
font-family: "Raleway", sans-serif;
}

.logo-footer{
  color: #F4F4FD;
font-size: 18px;
font-family: Raleway;
font-weight: 800;
text-transform: uppercase;
line-height: 1.17;
letter-spacing: 0.54px;
word-wrap: break-word;
}