/* Index.html */
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

img{
  display:block;
}

ul{
  margin: 0;
  padding-left: 0;
}

.container { 
  width: 1158px;
  padding: 0 15px 0 15px; 
  margin: 0 auto;
  }

/* header */
.additional-info-list-margin{
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.nav-list{
  display: flex;
  flex-direction: row;
  padding: 24px 0;
  gap: 40px;
}

.header-flex{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.header-background {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

.address-style{
  font-style: normal;
}

:root{
--primary-text-color: rgba(0,0,0,0);
--title-text-color:#000000;
--primary-white-color:#ffffff;
}
.link{
  text-decoration: none;
}
.header-link-wrapper {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.54px;
  word-wrap: break-word;
  font-family: "Raleway", sans-serif;
  margin-right: 76px;
}

.header-link-wrapper:hover{
  color: #404bbf;
}

.header-link-wrapper:focus{
  color: #404bbf;
}

.logo {
  color: #2e2f42;
  text-transform: uppercase;
  margin-right: 40px;
}

.navigation-style{
  color: #2e2f42;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  word-wrap: break-word;
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  padding: 24px 0;
  margin-right: 40px;
}

.navigation-style:hover{
  color: #404bbf;
}

.navigation-style:focus{
  color: #404bbf;
}

/* Contacts in Header */
.contacts-style {
  color: #434455;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  word-wrap: break-word;
}

.contacts-style:hover{
  color: #404bbf;
}

.contacts-style:focus{
  color: #404bbf;
}

/* Hero Image */
.hero-background {
  background-color: #2e2f42;
  padding: 188px 0;
}

.custom-first-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title-hero {
  color: white;
  font-size: 56px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  word-wrap: break-word;
}

.custom-title-hero{
  max-width: 496px;
}

.style-button {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  word-wrap: break-word;
  font-family: "Roboto", sans-serif;
  margin-top: 48px;
}

.style-button:hover{
  background-color: #404BBF;
}

.style-button:focus{
  background-color: #404BBF;
}

.custom-button-hero{
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
}

body{
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* Advantage */

.custom-ul-advantage{
display: flex;
flex-direction: row;
gap: 24px;
}

.custom-li-advantage{
  width: calc((100% - 72px) / 4);
}

.custom-advantage-title{
  margin-bottom: 8px;
}

.custom-second-section{
  padding: 120px 0;
}

.head-title {
  color: #2e2f42;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  word-wrap: break-word;
}

.paragraf-style {
  color: #434455;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  word-wrap: break-word;
}
/* What we are doing */
.custom-information-about-our-activity{
  padding-bottom: 120px;
}

.our-work {
  color: #2e2f42;
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.72px;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 72px;
}

.custom-ul-activity{
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.custom-li-activity{
  width: calc((100% - 48px) / 3);
}
/* Team specialist */
.custom-section-specialist{
  padding: 120px 0;
}

.custom-ul-specialist{
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.width-li-specialist{
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
}

.custom-list{
  background-color: #FFFFFF;
}

.team-background {
  background-color: #f4f4fd;
}

.custom-block-specialist{
  padding: 32px 0;
}

.team-title {
  color: #2e2f42;
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.72px;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 72px;
}

.name-specialists {
  color: #2e2f42;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  word-wrap: break-word;
  background-color: #FFFFFF;
  text-align: center;
  margin-bottom: 8px;
}

.title-profession {
  color: #434455;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  word-wrap: break-word;
  background-color: #FFFFFF;
  text-align: center;
}
/* Footer */
.footer-background {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  word-wrap: break-word;
  max-width: 264px;
}
/* portfolio.html */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }
/* header  */
.header-portfolio {
  background-color: #ffffff;
}

/* Contacts in Header */

/* ul button */
.list {
  list-style: none;
}

.custom-section-button{
  padding-top: 96px;
  padding-bottom: 120px;
}

.button-custom {
  color: #4d5ae5;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  word-wrap: break-word;
  background-color: #F4F4FD;
  border: 0;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.button-custom:hover{
  color: #FFFFFF;
  background-color: #404BBF;
  border: 1px solid transparent;
}

.button-custom:focus{
  color: #FFFFFF;
  background-color: #404BBF;
  border: 1px solid transparent;
}

.ul-custom-portfolio{
display: flex;
justify-content: center;
gap: 24px;
margin-bottom: 72px;
}

.button-place{
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
/* ul benefits 1  */

.ul-images{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.title-list {
  color: #2e2f42;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  word-wrap: break-word;
}

.title-margins{
  margin-bottom: 8px;
}

.text-paragraf {
  color: #434455;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  word-wrap: break-word;
}

/* ul benefits 2 */
.custom-images-li{
  width: calc((100% - 48px) / 3);
}
/* ul benefits 3 */
.place-on-page-image{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
/* Footer */
.footer-wrapper{
  color: #4D5AE5;
font-size: 18px;
font-weight: 800;
text-transform: uppercase;
line-height: 1.17;
letter-spacing: 0.54px;
word-wrap: break-word;
font-family: "Raleway", sans-serif;
display: inline-block;
margin-bottom: 16px;
}

.logo-footer{
  color: #F4F4FD;
font-size: 18px;
font-family: Raleway;
font-weight: 800;
text-transform: uppercase;
line-height: 1.17;
letter-spacing: 0.54px;
word-wrap: break-word;
}